<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MigrationUtilitiesCurrentBundleIdentifer</key>
	<string>org.pqrs.Karabiner</string>
	<key>configList</key>
	<array>
		<dict>
			<key>appendIndex</key>
			<integer>1</integer>
			<key>identify</key>
			<string>config_default</string>
			<key>name</key>
			<string>Default Profile</string>
		</dict>
	</array>
	<key>config_default</key>
	<dict>
		<key>notsave.automatically_enable_keyboard_device</key>
		<integer>1</integer>
		<key>notsave.automatically_enable_pointing_device</key>
		<integer>1</integer>
		<key>remap.jis_command2eisuukana_prefer_command</key>
		<integer>1</integer>
	</dict>
	<key>isCheckUpdate</key>
	<true/>
	<key>isShowSettingNameInStatusBar</key>
	<false/>
	<key>isStatusWindowEnabled</key>
	<true/>
	<key>isStatusWindowShowCapsLock</key>
	<false/>
	<key>isStatusWindowShowPointingButtonLock</key>
	<true/>
	<key>isStatusWindowShowStickyModifier</key>
	<false/>
	<key>isStatusbarEnable</key>
	<true/>
	<key>kAXNotifierDisabledInJavaApps</key>
	<true/>
	<key>kAXNotifierDisabledInMicrosoftOffice</key>
	<false/>
	<key>kAXNotifierDisabledInPreview</key>
	<true/>
	<key>kAXNotifierDisabledInQtApps</key>
	<true/>
	<key>kAXNotifierEnableDebuggingLog</key>
	<false/>
	<key>kIsAXNotifierEnabled</key>
	<true/>
	<key>kIsOverwriteKeyRepeat</key>
	<false/>
	<key>kIsStatusWindowUseModifierSymbols</key>
	<false/>
	<key>kKarabinerPreferencesCheckboxFont</key>
	<integer>0</integer>
	<key>kResumeAtLogin</key>
	<true/>
	<key>kUsePreparedSettings</key>
	<true/>
	<key>selectedIndex</key>
	<integer>0</integer>
	<key>statusWindowFontSize</key>
	<integer>0</integer>
	<key>statusWindowOpacity</key>
	<integer>80</integer>
	<key>statusWindowPosition</key>
	<integer>3</integer>
	<key>statusWindowTheme</key>
	<integer>0</integer>
	<key>statusWindowType</key>
	<integer>0</integer>
</dict>
</plist>
